
@model MarkMyProfessor.ViewModels.IndexViewModel

@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css"/>
}

@section scripts {
    <script type="text/javascript" src="lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    var data = @Html.Raw(Model.DataJson);
    $("#profdataTable").DataTable({
        data: data,
        columns: [
            { data: 'Name' },
            { data: 'School' },
            { data: 'AchievableRate' },
            { data: 'UsefulRate' },
            { data: 'PreparedRate' },
            { data: 'HelpfulRate' },
            { data: 'StyleRate' }
        ],
    });
</script>
}

<div class="row" style="margin-top: 60px">
    <div class="col-md-12">
        <table id="profdataTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Egyetem</th>
                    <th>Teljesíthetőség</th>
                    <th>Hasznosság</th>
                    <th>Felkészültség</th>
                    <th>Segítőkészség</th>
                    <th>Stílus</th>
                </tr>
            </thead>
        </table>
    </div>
</div>